<section class="car_container">

  <fixed-header>
  </fixed-header>

  <section class="order_complete">

  <h1>{{individual.first}}'s Tesla Order</h1>

  <hr class="buffer_top">

  <h1>Your custom Tesla Model S will be delivered late October</h1>
  <h3>You have selected the following options</h3>
  <ul class="order_details">
    <li>Paint: {{personalizedCar.color}}</li>
    <li>Wheel Type: {{personalizedCar.style}}</li>
  </ul>
    <!-- Your order is complete!  You will receive you car in 6 to 8 weeks. -->

      <cars-footer>
      </cars-footer>
  </section>


</section>
