<section class="car_container">

<fixed-header>
</fixed-header>

<div class="cars">
  <img  class="base-image" src='../../assets/img/design-shop/base.jpg'/>
  <img  class="a1" ng-src='{{cover.img}}'/>
  <img  class="a1" ng-src='{{roof.img}}'/>
  <img  class="a1" ng-src='{{tires.img}}'/>
</div>

<section class="fixed_size">

    <div class="car_colors" ng-show="showcolors">
      <img class="close_customizer" src="../assets/img/cross.svg" ng-click="showcolors=false; hidecontrols=false"/>
      <ul class="pick_a_color">
        <li ng-click="paint(1)"></li>
        <li class="outline" ng-click="paint(2)"></li>
        <li ng-click="paint(3)"></li>
        <li ng-click="paint(4)"></li>
        <li ng-click="paint(5)"></li>
        <li ng-click="paint(6)"></li>
        <li ng-click="paint(7)"></li>
        <li ng-click="paint(8)"></li>
        <li ng-click="paint(9)"></li>
      </ul>
      <div class="under_text"><h4>Solid Black</h4><h4>Solid White</h4>
            <h4>Titanium Metallic $15 /mo.</h4><h4>Midnight Silver Metallic $15 /mo.</h4>
            <h4>Obsidian Black Metallic $15 /mo.</h4><h4>Deep Blue Metallic $15 /mo.</h4>
            <h4>Silver Metallic $15 /mo.</h4><h4>Pearl White Multi-Coat $23 /mo.</h4>
            <h4>Red Multi-Coat $23 /mo.</h4>
      </div>
    </div>

    <div class="car_colors" ng-show="showrims">
      <img class="close_customizer" src="../assets/img/cross.svg" ng-click="showrims=false; hidecontrols=false"/>
      <ul class="pick_your_style">
        <li class="outline" ng-click="changeWheel(1)"></li>
        <li ng-click="changeWheel(2)"></li>
        <li ng-click="changeWheel(3)"></li>
        <li ng-click="changeWheel(4)"></li>
      </ul>
      <div class="rims">
        <h4>19" Silver Slipstream Wheels</h4>
        <h4>19" Silver Cyclone Wheels $38 /mo.</h4>
        <h4>21" Silver Turbine Wheels $68 /mo.</h4>
        <h4>21" Grey Turbine Wheels $68 /mo.</h4>
      </div>
    </div>

  <div class="custom_top_section">
    <div class="custom_t custom_top_left" ng-hide="hidecontrols"></div>
    <div class="custom_t mid custom_top_mid" ng-hide="hidecontrols"></div>
    <div class="custom_t custom_top_right" ng-hide="hidecontrols"></div>
  </div>

  <div class="custom_bar">
    <div class="custom" ng-click="showcolors=true; hidecontrols=true; showrims=false">Paint</div>
    <div class="custom mid" ng-click="showrims=true; hidecontrols=true; showcolors=false">Roof & Wheels</div>
    <div class="custom">Interior</div>
  </div>


</section>

<section class="fixed_size main_content">
  <div class="left_column">
    <div class="options">
      Select options for
      <button>Max Range</button>
      <button>Max Performance</button>
    </div>

    <div class="select_performance">
      <div>
          <img src="../assets/img/design-shop/options/60.png"/>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><img src="../assets/img/design-shop/options/75.png"/></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><img src="../assets/img/design-shop/options/90d.png"/></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><img src="../assets/img/design-shop/options/p90d.png"/></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>

  </div>

  <div class="right_column">
    <div class="pricing"> Cash </div>
  </div>
</section>
