<section class="shop-container">

  <shop-header>
  </shop-header>

  <section>
    <h3 class="shop_landing_design">TESLA DESIGN COLLECTION</h3>
    <br>

    <ul class="highlighted_product">
      <li><img src="../assets/img/tesladesign/corsicana-1_compact.jpg"/></li>
      <li><img src="../assets/img/tesladesign/dsc9308_compact.jpg"/></li>
      <li><img src="../assets/img/tesladesign/dsc9658_compact.jpg"/></li>
      <li><img src="../assets/img/tesladesign/gloves-men-1_compact.jpg"/></li>
      <li><img src="../assets/img/tesladesign/gloves-women-1.jpg"/></li>
      <li><img src="../assets/img/tesladesign/lully-3_compact.jpg"/></li>
    </ul>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <img class="shop_home_graphic" src="../assets/img/shop-home.jpg"/>

  </section>

  <shop-footer>
  </shop-footer>

</section>
<div class="bottom"></div>
