<section class="shop-header">
  <div class="top_header">
    <img class="shop_logo" src="../../../assets/img/logo.png"/>
      <div class="cart_header">
        <ul>
          <li>0 items</li>
          <li>$ 0.00</li>
        </ul>
      <div>
        <button class="cart">CART</button>
      </div>
    </div>
  </div>

  <section class="nav_search">
    <div class="nav_bar">
      <ul>
        <li ui-sref="shop">Home</li>
        <li>Apparel</li>
        <li ui-sref="shopD">Design Collection</li>
        <li>Model S</li>
        <li>Model X</li>
        <li>Roadster</li>
        <li><input id="search_bar" placeholder="Search Store"> </input></li>
      <ul>
    </div>



  </section>


</section>
