
<section class="shop_footer_top">
    <div class="left_top">
      <h3 class="footer_title">TESLA MOTORS</h3><br></br>
      <p>Visit us online at <br><a class="link" ui-sref="home">teslamotors.com</a><br><br><br>

        3500 Deer Creek Road<br>
        Palo Alto, CA 94304<br><br><br>

        Email: <a class="link">merchandise@teslamotors.com</a></p>
    </div>

    <div class="right_top">
      <h3 class="footer_title">Payment & Shipping </h3>
      <ul class="payment_options">
        <li class="paypal"></li>
        <li class="visa"></li>
        <li class="mastercard"></li>
        <li class="american_express"></li>
        <li class="discover"></li>
      </ul><br><br>

      <p><a class="link">Get help and learn more</a> about placing orders<br>
        and shipping.</p>
    </div>

</section>
<p class="copyright">&copy; 2016 Tesla.</p>


<div class="shop_footer_bottom"/></div>
